[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
werkzeug = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
hypothesis = "*"
